@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@theme{
    --color-primary-color: #61DAFB;
    --color-background-color: #0b192c;
    --color-hover-color: #1eb9e4;
    --font-
}